* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.search-form .form-group {
	transition: all 0.35s, border-radius 0s;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
}

.border-top-blue {
	border-top: 3px solid #00B7FF;
}